@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Open+Sans');

body {
		text-align: center;		
		background: "images/choco_liquid_crop.jpg";
		background-size: cover;	
		background-position: center;
		background-repeat: no-repeat;
		background-color: #281a0b;
		font-family: 'Open Sans', sans-serif;
}

nav, a {
		font-size: 12px;
		font-family: "Open Sans", sans-serif;
		font-weight: normal;
		text-decoration: none;
		color: #CFC194;
		text-transform: uppercase;
		text-align: center;
		word-spacing: 3em;
		letter-spacing: 3px;
		margin-top: 35px;
		margin-bottom: 150px;
}

h1 {
		font-size: 78px;
		font-family: 'Abril Fatface', cursive;
		font-weight: normal;
		letter-spacing: 2.25px;
		color: #66B2B1;
		margin:70px;
		padding: 35px; 
}

h2 { 	
		font-size: 16px; 
		font-family: "Open Sans", sans-serif;
		font-weight: 300;
		color: #853718;
		text-transform: uppercase;
		letter-spacing: 7.5px;
		line-height: 225%;
		margin: 55px;
		padding: 35px;
}


footer {
		font-size: 14px;
		color: #66B2B1;
		letter-spacing:2px;
		text-transform: uppercase;
		padding: 60px;
}
