
body {
		text-align: center;		
		background-color: green; 
		background-size: cover;	
		min-height: 100vh;
		font-family: 'Open Sans', sans-serif;
}
.wrapper {background-color: #FFE2B8;
}
header {
		background-color: #FFED74;
		border: 1px black solid;
		padding: 20px;
}
section {background-color: #FFE2B8;
}
nav, a {
		background-color: #E8C66A;
		font-size: 12px;
		font-family: "Open Sans", sans-serif;
		font-weight: normal;
		text-decoration: none;
		color: #CFC194;
		text-transform: uppercase;
		text-align: center;
		word-spacing: 3em;
		letter-spacing: 3px;
		margin-top: 35px;
		margin-bottom: 150px;
}
article {
		background-color: #E89C6C;
}
h1 {
		font-size: 78px;
		font-family: 'Abril Fatface', cursive;
		font-weight: normal;
		letter-spacing: 2.25px;
		color: #66B2B1;
		margin:70px;
		padding: 35px; 
}

h2 { 	
		font-size: 16px; 
		font-family: "Open Sans", sans-serif;
		font-weight: 300;
		color: #853718;
		text-transform: uppercase;
		letter-spacing: 7.5px;
		line-height: 225%;
		margin: 55px;
		padding: 35px;
}

h3 { 	
		font-size: 15px; 
		font-family: "Open Sans", sans-serif;
		font-weight: 300;
		color: #853718;
		letter-spacing: 1px;
		line-height: 225%;
		margin: 0px;
		padding: 0px;
}
p {
		font-size: 13px;
		font-family: "Open Sans", sans-serif;
		font-weight: 100;
		color: grey;
}		

footer {
		background-color: #FF957E;
		font-size: 14px;
		color: #66B2B1;
		letter-spacing:2px;
		text-transform: uppercase;
		padding: 60px;
}
